{"openapi":"3.0.1","info":{"title":"Finhub API","description":"Finhub API","version":"1.0"},"servers":[{"url":"https://api.fin-hub.co.kr","description":"Default Server URL"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"C main gpt column","description":"main gpt column api"},{"name":"A auth","description":"액세스 토큰 받아오는 방법 \n\nkakao 인가코드를 먼저 받아온다. \n\nBE local Test : https://kauth.kakao.com/oauth/authorize?client_id=8cdab51912aa75e69f1dce7eb88d196c&redirect_uri=http://localhost:8090/api/v1/auth/login/oauth2/callback/kakao&response_type=code \n\nBE dev Test : https://kauth.kakao.com/oauth/authorize?client_id=8cdab51912aa75e69f1dce7eb88d196c&redirect_uri=https://dev-api.fin-hub.co.kr/api/v1/auth/login/oauth2/callback/kakao&response_type=code \n\nBE main Test : https://kauth.kakao.com/oauth/authorize?client_id=8cdab51912aa75e69f1dce7eb88d196c&redirect_uri=https://main.fin-hub.co.kr/api/v1/auth/login/oauth2/callback/kakao&response_type=code \n\n\n\ngoogle 인가코드 받아오기 \n\nBE local : https://accounts.google.com/o/oauth2/v2/auth?client_id=353339464651-dnul84p5jsljqkg1gfsgsdoqol5ci1ak.apps.googleusercontent.com&redirect_uri=http://localhost:8090/api/v1/auth/login/oauth2/callback/google&response_type=code&scope=profile email \n\nBE dev : https://accounts.google.com/o/oauth2/v2/auth?client_id=353339464651-dnul84p5jsljqkg1gfsgsdoqol5ci1ak.apps.googleusercontent.com&redirect_uri=https://dev-api.fin-hub.co.kr/api/v1/auth/login/oauth2/callback/google&response_type=code&scope=profile email \n\nBE main : https://accounts.google.com/o/oauth2/v2/auth?client_id=353339464651-dnul84p5jsljqkg1gfsgsdoqol5ci1ak.apps.googleusercontent.com&redirect_uri=https://main.fin-hub.co.kr/auth/google/callback&response_type=code&scope=profile email\n\n\n\napple 인가코드 받아오기 \n\nproduction : https://appleid.apple.com/auth/authorize?response_type=code&client_id=finhub.fotcamp.com&redirect_uri=https://api.fin-hub.co.kr/api/v1/auth/login/oauth2/callback/apple&response_mode=query\n\n\n\n\nBE local -> origin parameter에 belocal\n\nBE dev -> origin parameter에 bedev\n\nBE prod -> origin parameter에 beprod\n\nFE는 origin parameter에 local, dev, production으로 자동 세팅 해야함."},{"name":"D main quiz","description":"main quiz api"},{"name":"유저정보 API","description":"유저관련 정보를 조작한다."},{"name":"F admin delete","description":"admin delte api"},{"name":"E admin","description":"admin api"},{"name":"B main","description":"main api"}],"paths":{"/api/v1/main/column/comment/actions":{"get":{"tags":["C main gpt column"],"summary":"컬럼 댓글 신고 이유 조회","description":"컬럼 댓글 신고 이유 조회","operationId":"commentReasons","responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}},"put":{"tags":["C main gpt column"],"summary":"컬럼 댓글 수정","description":"컬럼 댓글 수정","operationId":"commentPut","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}},"post":{"tags":["C main gpt column"],"summary":"컬럼 댓글 신고","description":"컬럼 댓글 신고","operationId":"commentReport","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentReportRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}},"delete":{"tags":["C main gpt column"],"summary":"컬럼 댓글 삭제","description":"컬럼 댓글 삭제","operationId":"commentDelete","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentDeleteRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/admin/usertype":{"get":{"tags":["E admin"],"summary":"유저 타입 전체조회","description":"usertype 전체 조회","operationId":"getAllUserType","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"useYN","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}},"put":{"tags":["E admin"],"summary":"유저 타입 수정","description":"usertype 수정","operationId":"modifyUserType","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModifyUserTypeRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}},"post":{"tags":["E admin"],"summary":"유저 타입 생성","description":"usertype 등록","operationId":"createUserType","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateUserTypeRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}},"delete":{"tags":["F admin delete"],"summary":"유저타입 삭제","description":"유저타입삭제","operationId":"deleteUsertype","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteUsertypeRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/admin/topic":{"get":{"tags":["E admin"],"summary":"토픽 전체 조회","description":"topic 전체 조회","operationId":"getAllTopic","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"categoryId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"useYN","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}},"put":{"tags":["E admin"],"summary":"토픽 수정","description":"topic 수정","operationId":"modifyTopic","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModifyTopicRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}},"post":{"tags":["E admin"],"summary":"토픽 생성","description":"topic 등록","operationId":"createTopic","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTopicRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}},"delete":{"tags":["F admin delete"],"summary":"토픽 삭제","description":"토픽삭제","operationId":"deleteTopic","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteTopicRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/admin/report/reason":{"get":{"tags":["E admin"],"summary":"신고사유 조회","description":"신고사유 조회","operationId":"commentReasons_1","responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}},"put":{"tags":["E admin"],"summary":"신고사유 수정","description":"신고사유 수정하기","operationId":"modifyReportReason","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportReasonModifyRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}},"post":{"tags":["E admin"],"summary":"신고사유 등록","description":"신고사유 등록하기","operationId":"registerReportReason","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportReasonRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}},"delete":{"tags":["F admin delete"],"summary":"신고사유 삭제","description":"신고사유 삭제","operationId":"deleteReportReason","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteReportReasonRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/admin/quiz":{"put":{"tags":["E admin"],"summary":"퀴즈 수정","description":"퀴즈 수정 기능","operationId":"modifyQuiz","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModifyQuizRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}},"post":{"tags":["E admin"],"summary":"퀴즈 생성","description":"퀴즈 날짜에 맞게 생성","operationId":"createQuiz","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateQuizRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}},"delete":{"tags":["F admin delete"],"summary":"퀴즈 삭제 ","description":"퀴즈 삭제","operationId":"deleteQuiz","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteQuizRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/admin/gpt-column":{"get":{"tags":["E admin"],"summary":"GPT COLUMN 전체 조회","description":"GPT COLUMN 전체 조회","operationId":"getGptColumn","responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}},"put":{"tags":["E admin"],"summary":"GPT COLUMN 수정","description":"GPT COLUMN 수정","operationId":"modifyGptColumn","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModifyGptColumnRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}},"post":{"tags":["E admin"],"summary":"GPT COLUMN 생성","description":"GPT COLUMN 생성","operationId":"createGptColumn","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SaveGptColumnRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/admin/category":{"get":{"tags":["E admin"],"summary":"카테고리 전체 조회","description":"category 전체 조회","operationId":"getAllCategory","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"useYN","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}},"put":{"tags":["E admin"],"summary":"카테고리 수정","description":"category 수정","operationId":"modifyCategory","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModifyCategoryRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}},"post":{"tags":["E admin"],"summary":"카테고리 생성","description":"category 등록","operationId":"createCategory","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCategoryRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}},"delete":{"tags":["F admin delete"],"summary":"카테고리 삭제","description":"카테고리에 속한 모든 토픽 외래키필드 NULL","operationId":"deleteCategory","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteCategoryRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/admin/banner":{"get":{"tags":["E admin"],"summary":"배너 전체조회","description":"배너 전체 조회","operationId":"getAllBanner","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"useYN","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}},"put":{"tags":["E admin"],"summary":"배너 수정","description":"배너 수정 기능","operationId":"modifyBanner","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModifyBannerRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}},"post":{"tags":["E admin"],"summary":"배너 생성","description":"배너 생성 기능","operationId":"createBanner","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateBannerRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}},"delete":{"tags":["F admin delete"],"summary":"배너 삭제","description":"배너 삭제","operationId":"deleteBanner","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteBannerRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/admin/announce":{"get":{"tags":["E admin"],"summary":"공지사항 조회","description":"admin 누구나 공지사항 조회 가능","operationId":"getAnnounceList","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}},"put":{"tags":["E admin"],"summary":"공지사항 수정","description":"공지사항","operationId":"updateAnnouncement","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModifyAnnounceRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}},"post":{"tags":["E admin"],"summary":"공지사항 생성","description":"공지사항","operationId":"createAnnouncement","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAnnounceRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}},"delete":{"tags":["E admin"],"summary":"공지사항 삭제","description":"공지사항","operationId":"deleteAnnouncement","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteAnnounceRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/main/search/keyword":{"post":{"tags":["B main"],"summary":"없는 단어 요청하기","description":"없는 단어 요청하기","operationId":"requestKeyword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/KeywordRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/main/scrap":{"post":{"tags":["B main"],"summary":"스크랩 설정 및 해제(1: 토픽, 2: gpt column)","description":"스크랩 설정 및 해제","operationId":"scrap","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScrapRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/main/quiz":{"get":{"tags":["D main quiz"],"summary":"퀴즈 가져오기","description":"오늘의 퀴즈, 지난날짜 퀴즈 가져오기","operationId":"findQuiz","parameters":[{"name":"date","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}},"post":{"tags":["D main quiz"],"summary":"퀴즈 풀기","description":"오늘의 퀴즈, 놓친 퀴즈 풀기","operationId":"solveQuiz","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SolveQuizRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/main/quiz/calendar-emoticon":{"post":{"tags":["D main quiz"],"summary":"캘린더 이모티콘 저장하기","description":"캘린더 이모티콘 저장하기","operationId":"solvedQuizList","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmoticonSaveRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/main/menu/setting/usertype":{"get":{"tags":["B main"],"summary":"설정 - 직업 목록","description":"직업 목록","operationId":"settingUsertype","responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}},"post":{"tags":["B main"],"summary":"설정 - 유저 타입(직업) 선택","description":"직업 선택","operationId":"selectJob","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SelectUsertypeRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/main/menu/setting/resign":{"post":{"tags":["B main"],"summary":"설정 - 회원탈퇴","description":"회원 탈퇴 - 직업, 아바타, 캘린더 이모티콘, 퀴즈목록, 토픽스크랩, 최근검색기록, 리프레시토큰, 댓글 기록, 댓글 좋아요 기록, 컬럼 스크랩, 사용자 차단 목록 ","operationId":"resignMembership","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuitRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/main/menu/setting/nickname":{"post":{"tags":["B main"],"summary":"설정 - 닉네임 변경","description":"닉네임 설정","operationId":"changeNickname","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangeNicknameRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/main/menu/setting/avatar":{"get":{"tags":["B main"],"summary":"유저 아바타 목록","description":"유저 아바타 목록","operationId":"listAvatar","responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}},"post":{"tags":["B main"],"summary":"유저 아바타 선택","description":"유저 아바타 선택","operationId":"selectAvatar","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SelectAvatarRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}},"delete":{"tags":["B main"],"summary":"유저 아바타 지우기","description":"유저 아바타 지우기","operationId":"deleteAvatar","responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/main/menu/feedback":{"post":{"tags":["B main"],"summary":" 고객 소리함 API ","description":"고객 피드백 수집","operationId":"feedback","parameters":[{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"}},{"name":"App-Version","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/FeedbackRequestDto"}}}},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/main/fcm-token":{"post":{"tags":["B main"],"summary":"유저- fcm토큰 업데이트 ","description":"FCM토큰 업데이트","operationId":"updateFcmToken","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SaveFcmTokenRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}},"delete":{"tags":["B main"],"summary":"유저- fcm토큰 삭제 ","description":"FCM토큰 정보 삭제","operationId":"deleteFcmToken","responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/main/column/like":{"post":{"tags":["C main gpt column"],"summary":"컬럼 및 댓글 좋아요(1: 컬럼, 2: 댓글)","description":"컬럼 및 댓글 좋아요","operationId":"like","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScrapRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/main/column/comment":{"post":{"tags":["C main gpt column"],"summary":"컬럼 댓글 작성","description":"컬럼 댓글 작성","operationId":"comment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/main/column/block":{"post":{"tags":["C main gpt column"],"summary":"사용자 차단","description":"사용자 차단","operationId":"blockMember","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlockMemberRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/main/alarm":{"get":{"tags":["B main"],"summary":" 알람 목록 조회하기 ","description":"안읽은 알람이 위쪽에, 읽은 알람이 아래에 배치","operationId":"alarmList","parameters":[{"name":"cursorId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}},"post":{"tags":["B main"],"summary":" 알람 상세 조회하기 ","description":"해당 url로 랜딩","operationId":"alarmDetail","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlarmDetailRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/auth/agreement":{"post":{"tags":["A auth"],"summary":"회원가입 이용 약관 동의","description":"회원가입 이용 약관 동의 api","operationId":"signUpAgree","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignUpAgreeRequest"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/admin/user-avatar":{"get":{"tags":["E admin"],"summary":"유저 아바타 전체 조회","description":"유저 아바타 전체 조회","operationId":"getUserAvatar","responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}},"post":{"tags":["E admin"],"summary":"유저 아바타 생성","description":"유저 아바타 생성하기","operationId":"createUserAvatar","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateUserAvatarRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/admin/topic-usertype":{"post":{"tags":["E admin"],"summary":"토픽 유저타입 gpt 내용 생성","description":"토픽 유저타입 gpt 내용 생성 후 질문 답변 로그 저장 및 답변 반환","operationId":"createTopicUsertypeGptContent","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateGptContentRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/admin/topic-summary":{"post":{"tags":["E admin"],"summary":"토픽 요약 gpt 내용 생성","description":"토픽 요약 gpt 생성 후 답변 반환","operationId":"createTopicSummaryGptContent","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTopicSummaryGptContentRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/admin/send-noti":{"post":{"tags":["E admin"],"summary":"알림메시지 전송","description":"type 0 : 멤버 이메일 리스트 , 1 : 관리자 이메일 리스트, 2 : 푸시 허용한 멤버 전체, 3 : 푸시 설정 무관 관리자 전체, 4 : 멤버+관리자전체","operationId":"sendNotification","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateFcmMessageRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/admin/report/comment":{"get":{"tags":["E admin"],"summary":"신고된 댓글 보기","description":"신고된 댓글 조회 ","operationId":"getReportedComment","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"useYN","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}},"post":{"tags":["E admin"],"summary":"신고된 댓글 처리","description":"신고된 댓글 처리 ","operationId":"postReportedComment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportCommentRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/admin/prompt":{"get":{"tags":["E admin"],"summary":"gpt 프롬프트 최신 조회","description":"gpt 프롬프트 최신 조회","operationId":"getGptPrompt","responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}},"post":{"tags":["E admin"],"summary":"gpt 프롬프트 저장","description":"gpt 프롬프트 저장","operationId":"saveGptPrompt","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SaveGptPromptRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/admin/order/{type}":{"post":{"tags":["E admin"],"summary":"카테고리/토픽 순서 조정","description":"카테고리/토픽 순서 조정","operationId":"order","parameters":[{"name":"type","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/admin/no-word":{"get":{"tags":["E admin"],"summary":"없는 단어 요청 확인하기","description":"없는 단어 요청 확인하기","operationId":"getNoWordList","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"resolvedYN","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}},"post":{"tags":["E admin"],"summary":"없는 단어 요청 확인 시 체크하기","description":"없는 단어 요청 확인 시 체크하기","operationId":"checkNoWord","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckNoWordRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/admin/login":{"post":{"tags":["E admin"],"summary":"관리자 로그인 요청","description":"관리자 여부 판단","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"401":{"description":"UNAUTHORIZED","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"404":{"description":"NOT FOUND","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/admin/img":{"post":{"tags":["E admin"],"summary":"이미지 저장","description":"이미지 s3 저장 후 이미지 s3 url 반환","operationId":"saveImgToS3","requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/SaveImgToS3RequestDto"}}}},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/admin/img/delete":{"post":{"tags":["E admin"],"summary":"생성/수정 취소 시 이미지 삭제","description":"s3에 저장한 이미지 삭제","operationId":"deleteImg","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteS3ImageRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/admin/gpt-column/summary":{"post":{"tags":["E admin"],"summary":"GPT COLUMN 요약 생성","description":"GPT COLUMN 요약 생성","operationId":"createGptColumnSummary","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateGptColumnRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/admin/gpt-column/content":{"post":{"tags":["E admin"],"summary":"GPT COLUMN 내용 생성","description":"GPT COLUMN 내용 생성","operationId":"creteGptColumnContent","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateGptColumnRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/admin/feedback":{"get":{"tags":["E admin"],"summary":"VOC 목록 조회","description":"페이지 방식 적용, 파라미터로 reply=T 혹은 F로 답장했던 목록 혹은 답장안한 목록 조회 가능","operationId":"vocList","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"reply","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}},"post":{"tags":["E admin"],"summary":"VOC 답장하기","description":"답장 내용 전송하면 SMTP 활용해 메일로 전송","operationId":"sendReply","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReplyRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/admin/fcm-token":{"post":{"tags":["E admin"],"summary":"fcmToken 저장하기","description":"fcm 토큰 manager table에 저장하기","operationId":"saveFcmToken","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SaveFcmTokenRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/admin/calendar-emoticon":{"get":{"tags":["E admin"],"summary":"달력 이모티콘 전체 조회","description":"달력 이모티콘 전체 조회","operationId":"getCalendarEmoticon","responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}},"post":{"tags":["E admin"],"summary":"달력 이모티콘 생성","description":"달력 이모티콘 생성하기","operationId":"createCalendarEmoticon","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCalendarEmoticonRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}},"delete":{"tags":["F admin delete"],"summary":"캘린더 이모티콘 삭제 ","description":"캘린더 이모티콘 삭제","operationId":"deleteEmoji","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteCalendarEmojiRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/member":{"patch":{"tags":["유저정보 API"],"summary":"유저 이메일정보 설정","description":"유저의 이메일정보를 설정 및 변경한다.","operationId":"modifyEmail","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailUpdateDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"400":{"description":"이메일 형식이 올바르지 않을때(공백, 이메일패턴이아님)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"변경성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/main/menu/push":{"get":{"tags":["B main"],"summary":"메뉴 - 알람 - 앱 푸시 정보 조회 ","description":"앱 알림 정보 조회","operationId":"getPush","responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}},"patch":{"tags":["B main"],"summary":"메뉴 - 알람 - 앱 푸시 허용여부","description":"푸시알림","operationId":"postPush","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PushYNRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/health-check":{"get":{"tags":["status-check-controller"],"operationId":"checkHealthStatus","responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK"}}}},"/api/v1/main/usertypeList":{"get":{"tags":["B main"],"summary":"유저 타입(직업) 리스트 요청","description":"유저 타입(직업) 리스트 요청","operationId":"usertypeList","responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/main/topicInfo":{"get":{"tags":["B main"],"summary":"토픽 상세보기","description":"토픽 상세보기","operationId":"topicInfo","parameters":[{"name":"topicId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/main/search/topic/{method}":{"get":{"tags":["B main"],"summary":"세 번째 탭 단어 검색","description":"제목만, 내용만, 제목+내용","operationId":"searchTopic","parameters":[{"name":"method","in":"path","required":true,"schema":{"type":"string"}},{"name":"keyword","in":"query","required":true,"schema":{"type":"string"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":3}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/main/search/column/{method}":{"get":{"tags":["B main"],"summary":"세 번째 탭 컬럼 검색","description":"제목만, 내용만, 제목+내용","operationId":"searchColumn","parameters":[{"name":"method","in":"path","required":true,"schema":{"type":"string"}},{"name":"keyword","in":"query","required":true,"schema":{"type":"string"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":2}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/main/recentKeyword":{"get":{"tags":["B main"],"summary":"최근 검색어 조회","description":"최근 검색어 조회","operationId":"recentSearch","responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}},"delete":{"tags":["B main"],"summary":"최근검색어 삭제하기","description":"최근검색어 삭제하기","operationId":"deleteRecentKeyword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteRecentKeywordRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/main/quiz/{year}/{month}":{"get":{"tags":["D main quiz"],"summary":"퀴즈 달력 가져오기","description":"퀴즈 달력 가져오기","operationId":"findCalendarQuiz","parameters":[{"name":"year","in":"path","required":true,"schema":{"type":"string"}},{"name":"month","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/main/quiz/solved/{isCorrect}":{"get":{"tags":["D main quiz"],"summary":"풀었던 퀴즈 가져오기","description":"풀었던 퀴즈 리스트 가져오기","operationId":"solvedQuizList_1","parameters":[{"name":"isCorrect","in":"path","required":true,"schema":{"type":"string"}},{"name":"date","in":"query","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":3}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/main/quiz/missed":{"get":{"tags":["D main quiz"],"summary":"놓친 퀴즈 가져오기","description":"놓친 퀴즈 리스트 가져오기","operationId":"missedQuizList","parameters":[{"name":"date","in":"query","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":3}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/main/popularKeyword":{"get":{"tags":["B main"],"summary":"인기검색어 조회","description":"인기검색어 조회","operationId":"popularKeyword","responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/main/nextTopic/{categoryId}/{topicId}":{"get":{"tags":["B main"],"summary":"다음 토픽 미리 보기","description":"다음 토픽 미리보기","operationId":"nextTopic","parameters":[{"name":"categoryId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"topicId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/main/menu/setting/resign/reasons":{"get":{"tags":["B main"],"summary":"설정 - 회원탈퇴 이유 가져오기","description":"회원 탈퇴 이유","operationId":"quitReasons","responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/main/menu/myscrap/{type}":{"get":{"tags":["B main"],"summary":"스크랩 모음 요청","description":"스크랩 모음","operationId":"scrapList","parameters":[{"name":"type","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/main/menu/comment":{"get":{"tags":["B main"],"summary":" 마이페이지- 내 댓글 모아보기 ","description":"내 댓글 모아보기","operationId":"myCommentList","responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/main/list":{"get":{"tags":["B main"],"summary":"전체 토픽 리스트","description":"전체 토픽 리스트","operationId":"listTab","parameters":[{"name":"categoryId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/main/home/topicList":{"get":{"tags":["B main"],"summary":"토픽 7개씩 요청","description":"첫 번째 탭에서 사용할 기능","operationId":"topicList","parameters":[{"name":"categoryId","in":"query","required":false,"schema":{"type":"integer","format":"int64","default":1}},{"name":"cursorId","in":"query","required":false,"schema":{"type":"integer","format":"int64","default":1}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":7}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/main/home/categoryList":{"get":{"tags":["B main"],"summary":"전체 카테고리 리스트","description":"전체 카테고리 리스트","operationId":"categoryList","responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/main/home/banner":{"get":{"tags":["B main"],"summary":"배너 리스트","description":"배너리스트","operationId":"bannerList","responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/main/gptContent":{"get":{"tags":["B main"],"summary":"직업, 토픽에 따른 gpt content 요청","description":"직업, 토픽에 따른 gpt content 요청","operationId":"gptContent","parameters":[{"name":"categoryId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"topicId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"usertypeId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/main/column":{"get":{"tags":["C main gpt column"],"summary":"컬럼 목록 조회","description":"컬럼 목록 조회","operationId":"getColumnList","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":5}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/main/column/{id}":{"get":{"tags":["C main gpt column"],"summary":"컬럼 상세 조회","description":"컬럼 상세 조회","operationId":"getColumnDetail","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/main/column/comment/{id}/{type}":{"get":{"tags":["C main gpt column"],"summary":"컬럼 댓글 조회","description":"컬럼 댓글 조회","operationId":"getColumnComment","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"type","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":3}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/main/announce":{"get":{"tags":["B main"],"summary":"공지사항 조회","description":"공지사항 조회","operationId":"announcement","parameters":[{"name":"cursorId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":7}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/auth/updateAccessToken":{"get":{"tags":["A auth"],"summary":"리프레시토큰 만료될 때 액세스토큰 업데이트 ","description":"액세스토큰 발급","operationId":"validRefreshToken","responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/auth/login/oauth2/callback/kakao":{"get":{"tags":["A auth"],"summary":" 카카오 로그인","description":"카카오서버로부터 받은 액세스토큰 넣어서 진행하는 로그인절차","operationId":"kakaoLogin","parameters":[{"name":"code","in":"query","required":true,"schema":{"type":"string"}},{"name":"origin","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/auth/login/oauth2/callback/google":{"get":{"tags":["A auth"],"summary":" 구글 로그인","description":"구글 서버로부터 받은 액세스토큰 넣어서 진행하는 로그인절차","operationId":"googleLogin","parameters":[{"name":"code","in":"query","required":true,"schema":{"type":"string"}},{"name":"origin","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/auth/login/oauth2/callback/apple":{"get":{"tags":["A auth"],"summary":" 애플 로그인","description":"애플 서버로부터 받은 액세스토큰 넣어서 진행하는 로그인절차","operationId":"appleLogin","parameters":[{"name":"code","in":"query","required":true,"schema":{"type":"string"}},{"name":"origin","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/auth/info":{"get":{"tags":["A auth"],"summary":"단순 멤버 정보제공","description":"단순 정보제공","operationId":"memberInfoRequest","responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/auth/autoLogin":{"get":{"tags":["A auth"],"summary":"자동로그인","description":"자동로그인","operationId":"autoLogin","responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/admin/usertype/{typeId}":{"get":{"tags":["E admin"],"summary":"유저 타입 상세조회","description":"usertype 상세 조회","operationId":"getDetailUserType","parameters":[{"name":"typeId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/admin/topic/{topicId}":{"get":{"tags":["E admin"],"summary":"토픽 상세조회","description":"topic 상세 조회","operationId":"getDetailTopic","parameters":[{"name":"topicId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/admin/quiz/{year}/{month}":{"get":{"tags":["E admin"],"summary":"퀴즈 월 전체 조회","description":"퀴즈 월 전체 조회 기능","operationId":"getMonthlyQuiz","parameters":[{"name":"year","in":"path","required":true,"schema":{"type":"string"}},{"name":"month","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/admin/quiz/{year}/{month}/{day}":{"get":{"tags":["E admin"],"summary":"퀴즈 일 상세 조회","description":"퀴즈 일 상세 조회 기능","operationId":"getDailyQuiz","parameters":[{"name":"year","in":"path","required":true,"schema":{"type":"string"}},{"name":"month","in":"path","required":true,"schema":{"type":"string"}},{"name":"day","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/admin/gpt-log":{"get":{"tags":["E admin"],"summary":"gpt 질문 답변 로그 확인","description":"gpt 질문 답변 로그 확인 / 필터 존재","operationId":"getGptLog","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"topicId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"usertypeId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/admin/gpt-column/{id}":{"get":{"tags":["E admin"],"summary":"GPT COLUMN 상세 조회","description":"GPT COLUMN 상세 조회","operationId":"getDetailGptColumn","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/admin/feedback/{id}":{"get":{"tags":["E admin"],"summary":"VOC 상세 조회","description":"상세 페이지","operationId":"vocDetail","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/admin/category/{categoryId}":{"get":{"tags":["E admin"],"summary":"카테고리 상세 조회","description":"category 상세 조회","operationId":"getDetailCategory","parameters":[{"name":"categoryId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/admin/banner/{bannerId}":{"get":{"tags":["E admin"],"summary":"배너 상세조회","description":"배너 상세 조회","operationId":"getDetailBanner","parameters":[{"name":"bannerId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/admin/autoLogin":{"get":{"tags":["E admin"],"summary":"관리자용 자동로그인","description":"관리자용 자동로그인","operationId":"adminAutoLogin","responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/admin/announce/{id}":{"get":{"tags":["E admin"],"summary":"공지사항 상세 조회","description":"공지사항 상세 조회 ","operationId":"getAnnounceDetail","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/admin/column":{"delete":{"tags":["F admin delete"],"summary":"컬럼 삭제 ","description":"컬럼 삭제","operationId":"deleteColumn","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteColumnRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}},"/api/v1/admin/avatar":{"delete":{"tags":["F admin delete"],"summary":"아바타 삭제 ","description":"아바타 삭제","operationId":"deleteAvatar_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteAvatarRequestDto"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWrapper"}}}}}}}},"components":{"schemas":{"ApiResponseWrapper":{"type":"object","properties":{"status":{"type":"string","enum":["SUCCESS","FAIL"]},"errorMsg":{"type":"string"},"data":{"type":"object"}}},"CommentRequestDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"comment":{"type":"string"}}},"ModifyUserTypeRequestDto":{"required":["id","name"],"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"s3ImgUrl":{"type":"string"},"useYN":{"type":"string"}}},"GptProcessDto":{"type":"object","properties":{"gptId":{"type":"integer","format":"int64"},"usertypeId":{"type":"integer","format":"int64"},"content":{"type":"string"},"useYN":{"type":"string"}}},"ModifyTopicRequestDto":{"required":["categoryId","definition","summary","title","topicId"],"type":"object","properties":{"topicId":{"type":"integer","format":"int64"},"categoryId":{"type":"integer","format":"int64"},"title":{"type":"string"},"definition":{"type":"string"},"summary":{"type":"string"},"s3ImgUrl":{"type":"string"},"gptList":{"type":"array","items":{"$ref":"#/components/schemas/GptProcessDto"}},"useYN":{"type":"string"}}},"ReportReasonModifyRequestDto":{"required":["id","reason","useYN"],"type":"object","properties":{"id":{"type":"integer","format":"int64"},"reason":{"type":"string"},"useYN":{"type":"string"}}},"ModifyQuizRequestDto":{"required":["answer","comment","day","id","month","question","year"],"type":"object","properties":{"id":{"type":"integer","format":"int64"},"year":{"type":"integer","format":"int64"},"month":{"maximum":12,"minimum":1,"type":"integer","format":"int64"},"day":{"maximum":31,"minimum":1,"type":"integer","format":"int64"},"question":{"type":"string"},"answer":{"type":"string"},"comment":{"type":"string"},"topicList":{"type":"array","items":{"type":"integer","format":"int64"}}}},"ModifyGptColumnRequestDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"title":{"type":"string"},"summary":{"type":"string"},"content":{"type":"string"},"backgroundUrl":{"type":"string"},"useYN":{"type":"string"},"createdBy":{"type":"string"},"topicList":{"type":"array","items":{"type":"integer","format":"int64"}}}},"ModifyCategoryRequestDto":{"required":["id","name"],"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"useYN":{"type":"string"},"s3ImgUrl":{"type":"string"},"topicList":{"type":"array","items":{"$ref":"#/components/schemas/ModifyTopicCategoryProcessDto"}}}},"ModifyTopicCategoryProcessDto":{"required":["title"],"type":"object","properties":{"topicId":{"type":"integer","format":"int64"},"title":{"type":"string"},"categoryId":{"type":"integer","format":"int64"}}},"ModifyBannerRequestDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"title":{"type":"string"},"subTitle":{"type":"string"},"landingPageUrl":{"type":"string"},"bannerType":{"type":"string"},"s3ImgUrl":{"type":"string"},"useYN":{"type":"string"}}},"ModifyAnnounceRequestDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"title":{"type":"string"},"content":{"type":"string"}}},"KeywordRequestDto":{"type":"object","properties":{"keyword":{"type":"string"}}},"ScrapRequestDto":{"type":"object","properties":{"type":{"type":"integer","format":"int64"},"id":{"type":"integer","format":"int64"}}},"SolveQuizRequestDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"answer":{"type":"string"}}},"EmoticonSaveRequestDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"}}},"SelectUsertypeRequestDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"}}},"QuitRequestDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"reason":{"type":"string"}}},"ChangeNicknameRequestDto":{"type":"object","properties":{"nickname":{"type":"string"}}},"SelectAvatarRequestDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"}}},"FeedbackRequestDto":{"required":["email","text"],"type":"object","properties":{"email":{"type":"string"},"text":{"type":"string"},"files":{"maxItems":4,"minItems":0,"type":"array","items":{"type":"string","format":"binary"}}}},"SaveFcmTokenRequestDto":{"type":"object","properties":{"token":{"type":"string"}}},"CommentReportRequestDto":{"type":"object","properties":{"commentId":{"type":"integer","format":"int64"},"reportId":{"type":"integer","format":"int64"}}},"BlockMemberRequestDto":{"type":"object","properties":{"memberId":{"type":"integer","format":"int64"}}},"AlarmDetailRequestDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"}}},"SignUpAgreeRequest":{"type":"object","properties":{"privacy_policy":{"type":"boolean"},"terms_of_service":{"type":"boolean"}}},"CreateUserTypeRequestDto":{"required":["name"],"type":"object","properties":{"name":{"type":"string"},"s3ImgUrl":{"type":"string"}}},"CreateUserAvatarRequestDto":{"required":["s3ImgUrl"],"type":"object","properties":{"s3ImgUrl":{"type":"string"}}},"CreateTopicRequestDto":{"required":["categoryId","definition","title"],"type":"object","properties":{"categoryId":{"type":"integer","format":"int64"},"title":{"type":"string"},"definition":{"type":"string"},"summary":{"type":"string"},"s3ImgUrl":{"type":"string"}}},"CreateGptContentRequestDto":{"type":"object","properties":{"categoryId":{"type":"integer","format":"int64"},"topicId":{"type":"integer","format":"int64"},"usertypeId":{"type":"integer","format":"int64"}}},"CreateTopicSummaryGptContentRequestDto":{"required":["id"],"type":"object","properties":{"id":{"type":"integer","format":"int64"}}},"Action":{"type":"object","properties":{"date":{"type":"string"},"id":{"type":"integer","format":"int64"}}},"CreateFcmMessageRequestDto":{"type":"object","properties":{"type":{"type":"integer","format":"int64"},"target":{"type":"array","items":{"type":"string"}},"title":{"type":"string"},"content":{"type":"string"},"view":{"type":"string"},"action":{"$ref":"#/components/schemas/Action"}}},"ReportReasonRequestDto":{"required":["reason"],"type":"object","properties":{"reason":{"type":"string"}}},"ReportCommentRequestDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"}}},"CreateQuizRequestDto":{"required":["answer","comment","day","month","question","year"],"type":"object","properties":{"year":{"type":"integer","format":"int64"},"month":{"maximum":12,"minimum":1,"type":"integer","format":"int64"},"day":{"maximum":31,"minimum":1,"type":"integer","format":"int64"},"question":{"type":"string"},"answer":{"type":"string"},"comment":{"type":"string"},"topicList":{"type":"array","items":{"type":"integer","format":"int64"}}}},"SaveGptPromptRequestDto":{"required":["prompt"],"type":"object","properties":{"prompt":{"type":"string"}}},"OrderRequestDto":{"type":"object","properties":{"orders":{"type":"object","additionalProperties":{"type":"integer","format":"int64"}}}},"CheckNoWordRequestDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"}}},"LoginRequestDto":{"type":"object","properties":{"email":{"type":"string"},"password":{"type":"string"}}},"SaveImgToS3RequestDto":{"required":["file","type"],"type":"object","properties":{"type":{"type":"string"},"file":{"type":"string","format":"binary"}}},"DeleteS3ImageRequestDto":{"required":["s3ImgUrl"],"type":"object","properties":{"s3ImgUrl":{"type":"string"}}},"SaveGptColumnRequestDto":{"type":"object","properties":{"title":{"type":"string"},"summary":{"type":"string"},"content":{"type":"string"},"backgroundUrl":{"type":"string"},"createdBy":{"type":"string"},"useYN":{"type":"string"},"topicList":{"type":"array","items":{"type":"integer","format":"int64"}}}},"CreateGptColumnRequestDto":{"required":["subject"],"type":"object","properties":{"subject":{"type":"string"}}},"ReplyRequestDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"text":{"type":"string"}}},"CreateCategoryRequestDto":{"required":["name"],"type":"object","properties":{"name":{"type":"string"},"s3ImgUrl":{"type":"string"}}},"CreateCalendarEmoticonRequestDto":{"required":["s3ImgUrl"],"type":"object","properties":{"s3ImgUrl":{"type":"string"}}},"CreateBannerRequestDto":{"type":"object","properties":{"title":{"type":"string"},"subTitle":{"type":"string"},"landingPageUrl":{"type":"string"},"bannerType":{"type":"string"},"s3ImgUrl":{"type":"string"},"useYN":{"type":"string"}}},"CreateAnnounceRequestDto":{"type":"object","properties":{"title":{"type":"string"},"content":{"type":"string"}}},"EmailUpdateDto":{"required":["email"],"type":"object","properties":{"email":{"type":"string","description":"이메일"}},"description":"이메일 변경 dto"},"PushYNRequestDto":{"type":"object","properties":{"yn":{"type":"boolean"}}},"DeleteRecentKeywordRequestDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"}}},"CommentDeleteRequestDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"}}},"DeleteUsertypeRequestDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"}}},"DeleteTopicRequestDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"}}},"DeleteReportReasonRequestDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"}}},"DeleteQuizRequestDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"}}},"DeleteColumnRequestDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"}}},"DeleteCategoryRequestDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"}}},"DeleteCalendarEmojiRequestDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"}}},"DeleteBannerRequestDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"}}},"DeleteAvatarRequestDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"}}},"DeleteAnnounceRequestDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"}}}},"securitySchemes":{"bearerAuth":{"type":"apiKey","description":"Please enter 'Bearer' followed by a space and then your token","name":"Authorization","in":"header"}}}}